{% extends "base.html" %}
{% block content %}

<div class="container">

    <h1>CLASIFICACIÓN DE LESIONES CUTÁNEAS</h1>

    <div class="predict-container">

    <form id="predict-form" class="upload-box">

        <div id="drop-zone">
            <p id="drop-text">Arrastrá una imagen acá o hacé click</p>
            <input
                type="file"
                id="image-input"
                accept="image/*"
                hidden
            >
        </div>

        <button type="submit">Predecir</button>
    </form>

    <img id="imagePreview" class="preview-img" style="display:none;">

    <div id="result-box" style="display:none;">
        <h3 id="predicted-class"></h3>
        <div id="probabilities"></div>
    </div>

</div>


    <div class="analysis-area">

        <!-- Imagen -->
        <div class="image-container">
            <img id="imagePreview" class="preview-img" style="display:none;">
        </div>

        <!-- Resultados -->
        <div id="result-box" class="result" style="display:none;">
            <h3>Resultado</h3>
            <strong id="predicted-class"></strong>

            <h4>Probabilidades</h4>

            <div id="probabilities"></div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='predict.js') }}"></script>

{% endblock %}




